header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}
.box {
  display: flex;
  padding: 32px 24px;
}
.bg-grey {
  background-color: #d8d8d8;
}

.bg-white {
  background-color: white;
}

.logo {
  display: inline-flex;
}
.cademy {
  color: #4a4a4a;
  font-size: 70px;
}

.cademy-info {
  font-size: 40px;
  color: #4a4a4a;
  padding-top: 32px;
  padding-bottom: 64px;
  padding-left: 24px;
}

img {
  width: 100%;
}
.learn {
  padding-left: 24px;
}
button {
  width: 100%;
  padding: 8px;
  background-color: #4a4a4a;
  text-align: center;
  color: white;
  font-size: 32px;
  border: none;
}

h2 {
  padding-left: 24px;
}
.mini-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  width: 40%;
  padding-left: 24px;
}

a {
  align-items: center;
}
.width-4 {
  width: 40%;
}
.width-6 {
  width: 60%;
}

.learning {
  background-color: #eaebec;
  text-align: center;
  padding: 32px 72px;
}
.img-row {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  background-color: white;
  margin-bottom: 32px;
}
.card-info {
  padding: 16px 16px 24px 16px;
  text-align: left;
}
.card-titile {
  font-weight: bold;
}

.exhibit {
  width: 100%;
  background-color: #f3f5f5;
  padding: 32px 24px;
}

.title-exhibit {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 30px;
  font-weight: bold;
}

video {
  width: 100%;
}
.urban {
  font-weight: bold;
  text-align: left;
  font-size: 25px;
  padding-top: 24px;
}
.urban-info {
  width: 60%;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 32px;
  font-size: 18px;
}

footer {
  background-color: #f3f5f5;
  padding-top: 16px;
  padding-left: 24px;
  border-top: 2px solid black;
}

.fisma-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
}

.terms {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.list {
  padding-left: 24px;
}
.list-item {
  display: flex;
  padding: 16px;
  align-items: center;
}

.list-item:hover {
  background-color: #d8d8d8;
}

.list-img {
  width: 35%;
}
.list-info {
  width: 65%;
  padding-left: 16px;
}
.list-title {
  font-weight: bold;
  font-size: 25px;
  color: #4a4a4a;
}
.list-sub {
  color: #a9abab;
}

/* .hide-on-mobile {

} */

.show-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
  .box {
    display: block;
    padding: 0;
  }
  .cademy {
    color: #4a4a4a;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
  }

  .cademy-info {
    font-size: 20px;
    color: #4a4a4a;
  }

  .width-4,
  .width-6,
  .list-img,
  .card,
  video {
    width: 100%;
  }
  .list-item,
  .learning {
    display: block;
    padding: 16px;
  }
  .img-row {
    display: block;
  }
  .card-info {
    background-color: #d8d8d8;

  }
  .card-titile {
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    font-size: 25px;
  }
  .show-mobile {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding-left: 32px;
  }
  .icon {
    width: 30px;
  }
  .learn,
  .list,
  .exhibit {
    padding: 0;
  }
  button {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
  }
}
